.hashUnderLine-active{
    margin: 0 5px;
    height: 2px;
    background: black;
    border: 0; 
    border-radius: 5px;
    display: block;
}
.hashUnderLine-inactive{
    display: none;
}

.hash-active{
    font-weight: 500;
    font-size: 20px;
    color: rgba(0, 0, 0);
}
.hash-inactive{
    font-weight: 300;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}

.ProjectsSearchBarPlaceholder::placeholder{
    color: white;
}

.projectsFileInput::-webkit-file-upload-button{
    visibility: hidden;
}
.projectsFileInput{
    width: 11rem;
    height: 3.5rem;
    background: #0D0D0D;
    border-radius: 10px;
}

.projectsFileInput::before{
    content: '+ Add New File';
    display: flex;
    height: 3.5rem;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    color: white;
}