.center{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}
.fontLight{
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    padding: 0.2rem;
    line-height: 1.5;
    font-weight: 500;
}
.font500{
    width: 85%;
    color: #808080;
    font-weight: 500;
}

.LeftSideNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    min-height: 100vh;
    background: white;
}

.LeftSideNav hr{
    width: 85%;
    height: 1px;
    background: rgba(0, 0, 0, 0.15);
    border: 0;
}

.Links1{
    color: #808080;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}
:is(.Links1, .Links2) img{
    width: 20px;
    height: 20px;
}
.Links2{
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    background-color: #55ACEE;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

.houseNamesBG, .houseNamesBG-active, .productNamesBG, .productNamesBG-active{
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    padding: 0.2rem;
    line-height: 1.5;
    font-weight: 500;
    margin: 2px 0; 
}

.houseNamesBG-active, .productNamesBG-active{
    background: rgba(85, 172, 238, 0.3);
    border-radius: 7px;    
}

.NavIconsSize{
    width: 1rem;
    height: 1rem;
}