.invertedArrow{
    transform: rotate(180deg);
    transition: .5s;
}
.arrow{
    transform: rotate(0);
    transition: .5s;
}

.display{
    display: block;
}
.NOdisplay{
    display: none;
}

.discussion{
    animation: discussion 1s;
    display: flex;
    padding: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-69vh);
}
@keyframes discussion {
    from{
        position: relative;
        z-index: -1;
        transform: translateY(0);
    }
    to{
        position: relative;
        z-index: 1;
        transform: translateY(-69vh);
    }
}

.NoDiscussion{
    animation: discussionOpp 1s;
    transform: translateY(0);
}
@keyframes discussionOpp {
    from{
        height: 60vh;
        position: relative;
        z-index: 1;
        transform: translateY(-58.7vh);
    }
    to{
        height: 0;
        position: relative;
        z-index: -1;
        transform: translateY(0);
    }
}